@page "/"
@using AdventureBotUI.Client.Services
@using ReadWrite
@using Microsoft.AspNetCore.Authorization
@inject AuthenticationStateProvider authenticationStateProvider
@inject AdventureBotReadWriteService adventureBotReadWriteService
<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
<AuthorizeView Roles="game.manage">
    <Authorized Context="Auth">
        @if(currentUser != null)
        {
            foreach(var claim in currentUser.Claims)
            {
                <div>@claim.Value</div>
                <div>@claim.Type</div>
            }
        }
        <input type="button" value="Start Game" @onclick="(() => StartGame())" class="btn btn-warning" />
    </Authorized>
</AuthorizeView>
@code{

    System.Security.Claims.ClaimsPrincipal currentUser;
    protected override async Task OnInitializedAsync()
    {
        /*
        var authState = await authenticationStateProvider.GetAuthenticationStateAsync();
        if(authState.User.Identity?.IsAuthenticated == true)
        {
            currentUser = authState.User;
        }*/
    }
    protected async Task StartGame()
    {
        await adventureBotReadWriteService.StartGameGetAsync();
    }
}