@page "/"
@using AdventureBotUI.Client.Services
@using ReadWrite
@using Microsoft.AspNetCore.Authorization
@inject AuthenticationStateProvider authenticationStateProvider
@inject AdventureBotReadWriteService adventureBotReadWriteService
<PageTitle>Adventure Bot</PageTitle>

<h1>Adventure Bot</h1>

<h3>
    A workflow that sends you an email for interactive 
    choose-your-own-adventure stories. 
</h3>
<h4>
    Click <a href="startgame">here</a> to get started
</h4>

<AuthorizeView Roles="game.manage">
    <NotAuthorized Context="Auth">
        <h6>
            You can <a href="userprofile/register">register</a> for advanced features.
        </h6>
    </NotAuthorized>
</AuthorizeView>
<AuthorizeView Roles="game.manage">
    <Authorized Context="Auth">
        @if(currentUser != null)
        {
            foreach(var claim in currentUser.Claims)
            {
                <div>@claim.Value</div>
                <div>@claim.Type</div>
            }
        }
        <input type="button" value="Start Game" @onclick="(() => StartGame())" class="btn btn-warning" />
    </Authorized>
</AuthorizeView>
@code{

    System.Security.Claims.ClaimsPrincipal currentUser;
    protected override async Task OnInitializedAsync()
    {
        /*
        var authState = await authenticationStateProvider.GetAuthenticationStateAsync();
        if(authState.User.Identity?.IsAuthenticated == true)
        {
            currentUser = authState.User;
        }*/
    }
    protected async Task StartGame()
    {
        await adventureBotReadWriteService.StartGameGetAsync();
    }
}