@page "/unsubscribe"
@using AdventureBotUI.Client.Services
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using ReadWrite
@inject AdventureBotReadWriteService adventureBotReadWriteService
@inject AuthenticationStateProvider authenticationStateProvider
@inject NavigationManager NavigationManager

<PageTitle>Adventure Bot</PageTitle>

<h1>Adventure Bot</h1>
<AuthorizeView>
    <Authorized Context="Auth">
@if (userProfile == null)
{
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12">loading...</div>
        </div>
    </div>
}
else
{
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12">You were unsubscribed successfully.</div>
        </div>
    </div>
}
</Authorized>
    <NotAuthorized>
        <div>Click unsubscribe to continue</div>
        <button class="btn btn-primary" @onclick="StartLogin">Unsubscribe</button>
    </NotAuthorized>
</AuthorizeView>
@code 
{

    protected UserProfile userProfile = null;
    
    private void StartLogin()
    {
        InteractiveRequestOptions requestOptions = new()
        {
            Interaction = InteractionType.SignIn,
            ReturnUrl = $"unsubscribe",
        };

        NavigationManager.NavigateToLogin("authentication/login", requestOptions);

    }
    protected override async Task OnParametersSetAsync()
    {
        var authState = await authenticationStateProvider.GetAuthenticationStateAsync();
        if(authState.User.Identity?.IsAuthenticated == true)
        {
            string userName = authState.User.Username();
            if(!string.IsNullOrEmpty(userName))
            {
                var userProfiles = await adventureBotReadWriteService.UserProfileSearchAsync(userName);
                userProfile = userProfiles.FirstOrDefault();
                if(userProfile != null)
                {
                    userProfile.ReceiveGameAdvanceEmail = false;
                    await adventureBotReadWriteService.UserProfilePutAsync(userProfile);
                }
            }
        }
    }
}
